In [2]:
# 1. Create a tuple of colors
colors = ("red", "green", "blue", "yellow", "green")

print("Tuple of colors:", colors)

# 2. Access elements using indexing
first_color = colors[0]
third_color = colors[2]

print("\nFirst color:", first_color)
print("Third color:", third_color)

# 3. Try to modify an element in the tuple (demonstrating immutability)
try:
    colors[1] = "purple"  # This will raise a TypeError because tuples are immutable
except TypeError as e:
    print("\nError:", e)

# 4. Find the number of occurrences of a specific element (e.g., 'green')
count_green = colors.count("green")
print("\nNumber of occurrences of 'green':", count_green)

Tuple of colors: ('red', 'green', 'blue', 'yellow', 'green')

First color: red
Third color: blue

Error: 'tuple' object does not support item assignment

Number of occurrences of 'green': 2

In [3]:
# Create a dictionary to store information about a person
person = {"name": "Alice", "age": 30, "city": "New York"}

# Access values using keys
print("Name:", person["name"])
print("Age:", person["age"])
print("City:", person["city"])

# Add a new key-value pair
person["country"] = "USA"
print("Country:", person["country"])

# Modify an existing value
person["age"] = 31
print("Updated Age:", person["age"])

# Check if a key exists in the dictionary
if "occupation" in person:
    print("Occupation:", person["occupation"])
else:
    print("Occupation key does not exist.")

# Get a list of all keys and values
keys = person.keys()
values = person.values()
print("Keys:", keys)
print("Values:", values)

Name: Alice
Age: 30
City: New York
Country: USA
Updated Age: 31
Occupation key does not exist.
Keys: dict_keys(['name', 'age', 'city', 'country'])
Values: dict_values(['Alice', 31, 'New York', 'USA'])

In [4]:
# Create a list and a tuple
my_list = [1, 2, 3]
my_tuple = (4, 5, 6)

# Try to modify an element in the list
my_list[0] = 10
print("Modified list:", my_list)

# Try to modify an element in the tuple (this will raise an error)
try:
    my_tuple[0] = 10
except TypeError as e:
    print("Error:", e)

Modified list: [10, 2, 3]
Error: 'tuple' object does not support item assignment

In [5]:
# Get input from the user
num = int(input("Enter a number: "))

# Print the multiplication table
print(f"Multiplication table of {num}:")
for i in range(1, 11):
    product = num * i
    print(f"{num} x {i} = {product}")

Enter a number: 5
Multiplication table of 5:
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [6]:
def factorial(n):
  """Calculates the factorial of a given number.

  Args:
    n: The number for which to calculate the factorial.

  Returns:
    The factorial of the given number.
  """

  if n == 0 or n == 1:
    return 1
  else:
    result = 1
    for i in range(2, n+1):
      result *= i
    return result

# Get the number from the user
num = int(input("Enter a number: "))

# Calculate and print the factorial
factorial_result = factorial(num)
print(f"The factorial of {num} is {factorial_result}")

Enter a number: 6
The factorial of 6 is 720

In [7]:
def is_prime(num):
  """Checks if a given number is prime.

  Args:
    num: The number to check.

  Returns:
    True if the number is prime, False otherwise.
  """

  if num <= 1:
    return False
  elif num <= 3:
    return True
  elif num % 2 == 0 or num % 3 == 0:
    return False

  i = 5
  while i * i <= num:
    if num % i == 0 or num % (i + 2) == 0:
      return False
    i += 6

  return True

# Get the number from the user
num = int(input("Enter a number: "))

# Check if the number is prime
if is_prime(num):
  print(f"{num} is a prime number.")
else:
  print(f"{num} is not a prime number.")

Enter a number: 8
8 is not a prime number.

In [8]:
def sum_of_even_numbers(start, end):
  """Calculates the sum of even numbers within a given range.

  Args:
    start: The starting number.
    end: The ending number.

  Returns:
    The sum of even numbers within the given range.
  """

  sum = 0
  for num in range(start, end + 1):
    if num % 2 == 0:
      sum += num
  return sum

# Find the sum of even numbers between 1 and 100
result = sum_of_even_numbers(1, 100)
print("The sum of even numbers between 1 and 100 is:", result)

The sum of even numbers between 1 and 100 is: 2550

In [1]:
def calculator():
  """A simple calculator that performs basic arithmetic operations."""

  while True:
    print("Choose an operation:")
    print("1. Addition")
    print("2. Subtraction")
    print("3. Multiplication")
    print("4. Division")
    print("5. Exit")

    choice = input("Enter your choice (1-5): ")

    if choice == '5':
      print("Exiting the calculator.")
      break

    num1 = float(input("Enter the first number: "))
    num2 = float(input("Enter the second number: "))

    if choice == '1':
      result = num1 + num2
      print("Result:", result)
    elif choice == '2':
      result = num1 - num2
      print("Result:", result)
    elif choice == '3':
      result = num1 * num2
      print("Result:", result)
    elif choice == '4':
      if num2 == 0:
        print("Error: Division by zero is not allowed.")
      else:
        result = num1 / num2
        print("Result:", result)
    else:
      print("Invalid choice. Please enter a number between 1 and 5.")

# Start the calculator
calculator()

Choose an operation:
1. Addition
2. Subtraction
3. Multiplication
4. Division
5. Exit
Enter your choice (1-5): 3
Enter the first number: 6
Enter the second number: 5
Result: 30.0
Choose an operation:
1. Addition
2. Subtraction
3. Multiplication
4. Division
5. Exit
Enter your choice (1-5): 5
Exiting the calculator.